*{
	margin:0;
	
}
.col-lg-8{
	margin:0;
	
}
.logo{
	float:left;
	
}

.input-group{
	margin:0;
	width:100%;
	
}
.form-control{
	border:none;
	
}

.borderless{
	border:none;
	}
	
	.searchbar{
	height:55px;
	}
	
	
.searchicon:hover{
	background:#dd4166;
	color:white;
	height:55px;
	
}

.loginbox{
	margin:10% 0 0 0;
	position:absolute;
	
}

.center{
text-align:center;	
}

.ztools-login{
	width:100%;
	
}

.zcolor{
	color:white;
	width:100%;
	border:none;
	background:#dd4166;
}

zcolor:hover{
	background:#dd4166;
	
}

.btn.zcolor:hover{
	background:#dd4166;
	color:white;
	width:100%;
	
}

.btn{
	width:100%;
	
}
.bold{
	
	font-size:20px;
	
}

.white{
	color:white;
}

white:hover{
	text-decoration:none;
	color:white;
}

.color{
	color:#dd4166;
	
}

.btn-width{
	width:15%;
	height:35px;
	
}

.margin1{
	margin:0 0 3% 8%;
	
}

.lwidth{
	
	width:50%;
}